on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: "${{ matrix.config.os }} (R: ${{ matrix.config.r }}, Rust: ${{ matrix.config.rust }})"

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release', rust: 'stable-msvc' }
          - {os: windows-latest, r: 'devel',   rust: 'stable-msvc' }
          - {os: macOS-latest,   r: 'release', rust: 'stable'      }
          - {os: ubuntu-latest,  r: 'release', rust: 'stable'      }
          - {os: ubuntu-latest,  r: 'devel',   rust: 'stable'      }

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          rtools-version: ${{ matrix.config.rtools-version }}
          # TODO: enable RSPM when all the packages are available
          use-public-rspm: false

      # Insert your debug step here, immediately after R is set up
      - name: Debug R executable
        run: |
          which R
          file "$(which R)"
          R RHOME

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.config.rust }}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
